#userInfo {
    color: yellow;
    margin-top: -8px;
    }#terminalSearch {
    background-color: black;
    color: white;
    width: 13vw;
    height: 2vh;
    }#terminal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background: black;
    color: white;
    }#pcALL {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: auto;
    }#bar {
    position: fixed;
    left: 0px;
    bottom: 0%;
    margin-top: -8px;
    margin-left: -8px;
    width: 100%;
    height: auto;
    background-color: black;
    }#chrome {
    width: 4%;
    }#main {
    background-color: black;
    width: 80vw;
    height: 70vh;
    margin-top: 11vh;
    margin-bottom: 12vh;
    position:absolute;
    top: 3vh;
    left: 10vw;
    }#pcBackground {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 92vh;
    }body {
    font-size: 1vw;
    }#aboutCreater {
    color: white;
    }#chromeSearch {
    position: relative;
    top: 3vh;
    left: 5vw;
    width: 60vw;
    border-bottom-left-radius: 25vw;
    border-top-left-radius: 25vw;
    }#closeMain {
    font-size: 2vw;
    color: white;
    margin-top: -8px;
    position: relative;
    top: 0px;
    left:78vw;
    }#home {
    width: 4vw;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50vw;
    }#info1 {
    font-size: 1vw;
    }#resume {
    position: relative;
    left: 0px;
    top: 0px;
    display: grid;
    grid-template-columns: 20vw 80vw;
    margin-top: -8px;
    margin-left: -8px;
    }#resume-left {
    color: black;
    height: 100vh;
    background-color: lightgray;
    }#resume-left-userInfo {
    margin-top: -8px;
    margin-bottom: -8px;
    background-color: blue;
    width: 100%;
    height: auto;
    font-size: 3vw;
    }#terminal-infoDiv {
    display: grid;
    grid-template-columns: 10vw 3vw;
    }#info {
    margin-left: 8px;
    border-radius: 25px;
    width: 10vw;
    height: 5vh;
    }#terminal-infoHelp {
    color: white;
    position: relative;
    }#resume-left-userInfoSmall {
    font-size: 2vw;
    }#resume-left-skillsTop {
    margin-top: -8px;
    height: auto;
    width: auto;
    font-size: 1vw;
    }#resume-homeBotton {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: auto;
    height: auto;
    }#pcALL-youtube {
    display:grid;
    grid-template-columns: 10vw 90vw;
    height: auto;
    width: 500vw;
    background-color: black;
    color: white;
    }#shortcuts {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background: black;
    color: white;
    }#terminalSearch::placeholder {
    color: yellow;
    }#pcALL-youtube-top-search {
    position: relative;
    left: 40vw;
    top: 0vh;
    border-bottom-left-radius: 25vw;
    border-top-left-radius: 25vw;
    }#pcALL-youtube-top-button {
    position: relative;
    left: 40vw;
    top: 0vh;
    border-bottom-right-radius: 25vw;
    border-top-right-radius: 25vw;
    }#chromeSearch-button {
    position: relative;
    top: 3vh;
    left: 5vw;
    width: 3vw;
    border-bottom-right-radius: 25vw;
    border-top-right-radius: 25vw;
    }#pcALL-youtube-top-container-search {
    display: flex;
    }#pcALL-youtube-side {
    margin-top: -8px;
    margin-bottom: -8px;
    }
    